<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".data.FemSanteApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FemSante"
        tools:ignore="DiscouragedApi"
        tools:targetApi="31">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.login.ForgottenActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.main.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".domain.calendar.view.CalendarActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.calendar.add.EntryAddActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.login.payment.PaymentActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.audreyretournaydiet.femsante.cardpaiement" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.alim.RecetteActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.alim.AlimActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.corps.YogaActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.utilitaires.ToolboxActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.utilitaires.AudioActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.tete.SophroActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.utilitaires.PdfActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.tete.ArtTherapieActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.utilitaires.VideoActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.tete.BienTeteActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.corps.BienCorpsActivity"
            android:exported="false" />
        <activity
            android:name="com.audreyRetournayDiet.femSante.domain.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>